fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
langchain==0.2.1
langchain-community==0.2.1
langgraph==0.0.51
langchain-core==0.2.1
langchain-google-genai
streamlit==1.36.0
requests==2.32.2
google-api-python-client==2.128.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0